html, body {
  width: 100%;
  height: 100%;
  margin: 0%;
  overflow: hidden;
  background-color: black;
  color: white;

  /*font*/
  font-family:"Papyrus";
  letter-spacing: 2.5px;
  line-height: 2em;
  cursor:default;
}
#dead{
  position:absolute;
  top:10%;
  left:40%;
  width:20%;
  -webkit-animation: show 4s;
}

/*opening page*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  text-align:center;
  z-index: 20;
}

.flexbox {
  /* background-color: pink; */
  width: 80%;
  font-size: 150%;
  margin-bottom:0.5%;
  opacity:0;
}
#heading,#acknowledgement{
  opacity:1;
}

#caption1,#caption2,#caption3,#caption4,#start{
  position:absolute;
}
#caption1{
  top:10%;
}
#caption2{
  top:50%;
}
#caption3{
  top:30%;
}
#caption4{
  top:50%;
}
#start{
  visibility:hidden;
  top:46%;
  width:40%;
  line-height: 12%;
  background-color:rgba(255,255,255,0.3);
  cursor:crosshair;
}
#start:hover{
  background-color:rgba(255,255,255,0.8);
}

#heading{
  margin-bottom:3%;
  font-size: 400%;
  -webkit-animation: show 4s;
  animation: show 4s;
}
#acknowledgement{
  -webkit-animation: show 4s;
  animation: show 4s;
}
#start.show,#caption1.show,#caption2.show,#caption3.show,#caption4.show{
  -webkit-animation: show 3s;
  animation: show 3s;
}
#caption3.show,#caption4.show{
  -webkit-animation: show 4s;
  animation: show 4s;
}
#heading.vanish,#acknowledgement.vanish,#caption1.vanish,#caption2.vanish,#caption3.vanish,#caption4.vanish{
  -webkit-animation: vanish 3s;
}
#dead.enlarge{
  -webkit-animation: enlarge 10s;
}

.p5Canvas{
  margin:0%;
  position:absolute;
  top:0%;
  left:0%;
}


@-webkit-keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes vanish {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes enlarge{
  from{width:20%;top:10%;left:40%;}
  to{width:40%;top:60%;left:30%;}
}
