html, body {
  width: 100%;
  height: 100%;
  margin: 0%;
  overflow: hidden;
  background-color: black;
  color: white;

  /*font*/
  font-family:"Papyrus";
  letter-spacing: 2.5px;
  line-height: 2em;
  cursor:default;
}


/*opening page*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0%;
  left: 0%;

  text-align:center;
  z-index: 20;
}

.flexbox {
  width: 80%;
  font-size: 150%;
  margin-bottom:0.5%;
  opacity:0;
}
#heading,#inputbox,#buttonbox{
  opacity:1;
}
#heading{
  margin-bottom:2%;
  font-size: 230%;
}
#buttonbox{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size:100%;
}
#button{
  width:9%;
  margin-left:2%;
  margin-right:6%;
}
#button2{
  width:14%;
  margin-left:2%;
  margin-right:2%;
}
.flexbutton{
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  cursor:crosshair;
  line-height: 12%;
}
.flexbutton:hover{
  background-color: rgba(255,255,255,1);
}

.restart-container{
  visibility: hidden;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:100%;

  position:absolute;
  top: 0%;
  left: 0%;

  text-align:center;
  z-index: 20;
}
.flex-restart{
  margin-top:4%;
  margin-bottom: 4%;
  width:25%;
  background-color: rgba(255,255,255,0.3);
  cursor:crosshair;
  line-height: 12%;
}
.flex-restart:hover{
  background-color: rgba(255,255,255,1);
}
#goback{
  width:23%;
}
#link{
  width:21%;
}

#home{
  -webkit-animation: show 3s;
  animation: show 3s;
}

#caption1,#caption2,#caption3,#restart{
  position:absolute;
}
#caption1{
  top:20%;
}
#caption2{
  top:60%;
}
#caption3{
  top:40%;
}

#restart.show{
  -webkit-animation: show 3s;
  animation: show 3s;
}
#caption1.show,#caption2.show,#caption3.show{
  -webkit-animation: show 4s;
  animation: show 4s;
}
#caption1.vanish,#caption2.vanish,#caption3.vanish{
  -webkit-animation: vanish 2.5s;
  animation: vanish 2.5s;
}

.p5Canvas{
  margin:0%;
  position:absolute;
  top:0%;
  left:0%;
}


@-webkit-keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes show {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes vanish {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@keyframes vanish {
    from { opacity: 1; }
    to   { opacity: 0; }
}
